body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px 10px 20px;
  border-radius: 8px;
  border-color: rgb(195, 49, 49);
  border-width: 10px;
}

.card {
  font-size: 20px;
  height: 200px;
  width: 432px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: xx-large;
  text-align: right;
}

p {
  color:rgb(136, 136, 136);
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.square {
  float: left;
  font-size: 42px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  width: 100px;
  margin: 5px;
  padding: 0;
  text-align: center;
}

